<div >
    <h2>Customers</h2>
    <div class="row-fluid">
        <div class="span6">
            <div class="gridStyle" style="width: 500px; height: 378px;" ng-grid="customerGrid"></div>
        </div>
        <div class="span6">
        <form class="form-horizontal">
                <!-- We do field-level validation based on the validation rules in the metadata,
                    and twitter bootstrap styles to show invalid fields.  See the breezeinput directive in directives.js -->
                <breezeinput label="Company Name" ng-model="customer.CompanyName"></breezeinput>
                <breezeinput label="Contact Name" ng-model="customer.ContactName"></breezeinput>
                <breezeinput label="Contact Title" ng-model="customer.ContactTitle"></breezeinput>
                <breezeinput label="Address" ng-model="customer.Address"></breezeinput>
                <breezeinput label="City" ng-model="customer.City"></breezeinput>
                <breezeinput label="Region" ng-model="customer.Region"></breezeinput>
                <breezeinput label="Postal Code" ng-model="customer.PostalCode"></breezeinput>
                <breezeinput label="Country" ng-model="customer.Country"></breezeinput>
                <breezeinput label="Phone" ng-model="customer.Phone"></breezeinput>
                <breezeinput label="Fax" ng-model="customer.Fax"></breezeinput>
                <div style="text-align: center">
                    <button class="btn" ng-click="reset(customer)">Reset Customer</button>
                    <button class="btn" ng-click="update(customer)">Save Customer</button>
                </div>
        </form>
        </div>
    </div>
</div>

