@{
    ViewBag.Title = "BOWA";
}

@Html.Partial("~/Views/Shared/_BowaHeader.cshtml");

<div data-ng-app="app" data-ng-include="'/app/todolists.html'"></div>

@section scripts
{
    <!-- 3rd party libraries -->
    <script src="~/Scripts/angular.js"></script>
    @*<script src="~/Scripts/angular.min.js"></script>*@
    <script src="~/Scripts/angular-animate.min.js"></script>

    <!-- Breeze dependencies, Breeze itself, and Breeze extensions -->
    <script src="~/Scripts/datajs-1.1.1.js"></script>

    <script src="~/Scripts/breeze.debug.js"></script>
    @*<script src="~/Scripts/breeze.min.js"></script>*@
    <script src="~/Scripts/breeze.angular.js"></script>
    <script src="~/Scripts/breeze.directives.validation.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>

    <!-- App libraries -->
    <script src="~/app/app.js"></script>
    <script src="~/app/datacontext.js"></script>
    <script src="~/app/entityManagerFactory.js"></script>
    <script src="~/app/logger.js"></script>
    <script src="~/app/todolists.js"></script>
    <script src="~/app/todolist-detail.js"></script>
}