@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web API OData & Breeze</h1>
    <p>This is an MVC application, straight from the template, with an additional SPA page.</p>
    <p>
        That "Single Page Application" (SPA) is an MVC page re-wired
        with Breeze, Web API OData, and Angular.</p>
    <p>
    Click "BOWA" in the navigation bar to see it.
    </p>
    <p>
    Learn how this sample works
    <a href="http://www.breezejs.com/samples/breeze-web-api-odata-sample"
        target="_blank" title="Breeze BOWA sample documentation">on the Breeze website</a>.
    </p>
</div>