body {
    width: 100%;
}

.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 1em;
    margin: auto;
    padding-bottom: .125em;
    text-align: center;
    background: black;
    color: white;
    
    -moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

header {
    text-align: center;
    color: white;
    font-weight: bold;
    width: 100%;
    background: black;
    z-index: 10;
}

header button {
    position: absolute;
}

header button.back {
    left: 1.5em;
    top: .25em;
    background: transparent;
    background-image: url("/Images/Back.png");
    border: none;
    width: 70px;
    height: 60px;
}

section {
    position: absolute;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.commands.left {
    position: absolute;
    left: 1em;
    top: 4.5em;
}

.commands.right {
    position: absolute;
    right: 1em;
    top: 4.5em;
}

.commands a {
    margin-right: 20px;
}

.commands a.disabled {
    color: lightgray;
}

.status {
     position: absolute;
    right: .5em;
}

.status.inProgress {
    
}

.status.canceled {
    
}

.status.done {
    
}

.login {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 3em;
    text-align: center;
}

.login h2 {
    text-align: center;
    font-weight: bold;   
    font-size: 2em; 
}

.login ul {
    margin-top: 2em;
    position: absolute;
    left: 50%;
}

.login ul li {
    text-align: left;
    margin-left: -75%;
    border-bottom: 1px solid blue;
    padding: 16px 0px;
    margin-right: 25%;
}

.login ul li:last-child {
    border-bottom: none;
}

.login a {
    font-size: 1.3em;
}

.login a:hover {
    cursor: pointer;
    color: red;
}

.job-list ul {
    margin: 1em;
}

.job-list ul li {
    border-bottom: 1px solid blue;
    font-size: 2em;
    padding: 0;
    margin-top: 1em;
}

.job-list ul li:last-child {
    border-bottom: none;
}

ul.inspections li{
    font-size: 1em;
    border: none;
    margin: .5em 0;
}

.form {
    margin: 2em;
    display: table;
}

.field textarea {
    margin-top: 1em;
    width: 100%;
}

.form .field {
    margin-bottom: 2em;
    display: table-row;
}

.form .field ul {
    margin-top: 1em;
    display: table-cell;
}

.form .field .label {
    font-size: 1.2em;
    display: table-cell;
    padding-right: .5em;
    text-align: right;
}

.form .field input, .field .field textarea, .field .field select {
    font-size: 1.2em;
    display: table-cell;
}

.invalid {
    color: red;
}