body {
    width: 100%;
}

.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 1em;
    margin: auto;
    padding-bottom: .125em;
    text-align: center;
    background: #1e5799;
    color: white;
    
    -moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
    
    text-shadow:rgba(0, 0, 0, .5) 2.5px 2.5px 2px;
}

header {
    position: fixed;
    text-align: center;
    color: white;
    font-weight: bold;
    width: 100%;
    background: black;
    z-index: 10;
    
    -o-box-shadow: rgba(0, 0, 0, 1) 1px 0px 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 1px 0px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 1) 1px 0px 1px;
    box-shadow: rgba(0, 0, 0, 1) 0px 1px 1px;
}

header button {
    position: absolute;
}

header button.back {
    left: .5em;    
}

header button.save {
    right: .5em;
}

button {
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
    font-weight: bold;
    background: black;
	background: -moz-linear-gradient(top, #575757 0%, #000000);
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#000000));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.4);
}

section {
    position: absolute;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.login {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 3em;
    text-align: center;
}

.login h2 {
    text-align: center;
    font-weight: bold;   
    font-size: 2em; 
}

.login ul {
    margin-top: 2em;
    position: absolute;
    left: 50%;
}

.login ul li {
    text-align: left;
    margin-left: -75%;
    border-bottom: 1px solid blue;
    padding: 16px 0px;
    margin-right: 25%;
}

.login ul li:last-child {
    border-bottom: none;
}

.login a {
    font-size: 1.3em;
}

.login a:hover {
    cursor: pointer;
    color: red;
}

.job-list ul {
    margin: 1em;
}

.job-list ul li {
    border-bottom: 1px solid blue;
    font-size: 2em;
    padding: 0;
    margin-top: 1em;
}

.job-list ul li:last-child {
    border-bottom: none;
}

ul.inspections li{
    font-size: 1em;
    border: none;
    margin: .5em 0;
}

.inspection-form {
    margin: 2em;
}

.inspection-form textarea {
    margin-top: 1em;
    width: 100%;
}

.inspection-form .field {
    margin-bottom: 2em;
}

.inspection-form ul {
    margin-top: 1em;
}

.inspection-form .field .label {
    font-size: 1.2em;
}

.inspection-form .field input, .inspection-form .field textarea, .inspection-form .field select {
    font-size: 1.2em;
}

.invalid {
    color: red;
}