.loading {
    font-size: 7em;
}

header {
    height: 4em;
}

header h1 {
    font-size: 3em;
    padding-top: .125em;
}

header button {
    top: .125em;
}

button {
    font-size: 1.5em;
    padding: .5em 1em;
}

section {
    top: 4em;
    bottom: 2.5em;
}

footer {
    height: 2.5em;    
}

footer h3 {
    font-size: 1.5em;
    line-height: 1.75em;
    margin-left: .5em;
}

footer button {
    margin-top: 2px;
}