.svn
_ReSharper*
_temp
breeze-*.zip
TestResults
*.user
*.docx
*.vsmdi
*.cmd
*.mdf
*.ldf
*.testsettings
bin
obj
*.old
Unused
*.suo
packages
Breeze.Client/Scripts/IBlade/Old/pubsub.old.js
Samples/Todo/Todo/App_Data/Todos.sdf
DocCode/BreezeDocCode/App_Data/Todos.sdf
_Internal/Sample_WebApi/Scripts/
_Internal/Sample_OData/Scripts/
/Samples/Breeze.Inspector/Breeze.Inspector/App_Data/Inspector.sdf
GetFtpCredential.ps1
Breeze*.nupkg
Nuget.builds/BreezeForMVC4/content/Scripts/breeze.debug.js
Nuget.builds/BreezeForMVC4/content/Scripts/breeze.js
Nuget.builds/BreezeForMVC4/content/Scripts/q.js
Nuget.builds/BreezeForMVC4/content/Scripts/q.min.js
Nuget.builds/BreezeForMVC4/lib/Breeze.WebApi.dll
Nuget.builds/BreezeForMVC4/lib/Irony.dll


