.svn
_ReSharper*
_temp
breeze-*.zip
TestResults
*.user
*.docx
*.vsmdi
*.cmd
Samples/*.mdf
Samples_Unpublished/*.mdf
Samples/*.ldf
Samples_Unpublished/*.ldf
*.testsettings
bin
obj
*.old
Unused
*.suo
packages
.idea
thumbs.db
node_modules

GetFtpCredential.ps1

Breeze.intellisense/iisNode/
Breeze.intellisense/node_modules
Breeze.intellisense/*.js.debug/

Breeze.Client/Scripts/IBlade/Old/pubsub.old.js
_Internal/Sample_WebApi/Scripts/
_Internal/Sample_OData/Scripts/


Breeze*.nupkg
Nuget.builds/Breeze.MVC4WebApiClientSample/Breeze.MVC4WebApiClientSample.nuspec
Nuget.builds/Breeze.MVC4WebApiClientSample/lib
Nuget.builds/Breeze.WebApi/Breeze.WebApi.nuspec
Breeze.Learn/Breeze.Learn/App_Data/NorthwindIB.sdf
