.svn
_ReSharper*
TestResults
*.user
*.docx
__Notes.txt
*.vsmdi
*.cmd
*.mdf
*.ldf
*.testsettings
bin
obj
*.old
Unused
*.suo
packages
Breeze.Client/Scripts/IBlade/Old/pubsub.old.js
Samples/Todo/Todo/App_Data/Todos.sdf
DocCode/BreezeDocCode/App_Data/Todos.sdf
_Internal/Sample_WebApi_RC/Scripts
