<section>
    <div class="formfieldwithlabel">
        <label for="firstName" class="label">First name:</label>
        <input type="text" id="firstName" class="right" data-bind="value: firstName" />
    </div>
    <div class="formfieldwithlabel">
        <label for="middleName" class="label">Middle name:</label>
        <input type="text" id="middleName" class="right" data-bind="value: middleName" />
    </div>
    <div class="formfieldwithlabel">
        <label for="lastName" class="label">Last name:</label>
        <input type="text" id="lastName" class="right" data-bind="value: lastName" />
    </div>
</section>
