@using System.Web
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>TempHire</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/scripts/modernizr")
</head>
<body>
    <div id="applicationHost"></div>

    @Scripts.Render("~/scripts/vendor")
    <script src="/App/durandal/amd/require.js" data-main="App/main"></script>
</body>
</html>
