@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Breezy Devices</title>
    <link rel="stylesheet" href="/Content/reset.css"/>
    <link rel="stylesheet" href="/Content/breezydevices.css"/>
    <script src="/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <header>
        <h1>Breezy Devices</h1>           
    </header>
 
    <!-- Section with client-generated content and bindings -->            
    <section id="content" data-bind="css: { hide: hide }" class="hide">
        <img src="/Images/save.png" data-bind="click: save" title="Save Changes" alt="Save Changes" /> 
      
        <ul data-bind="foreach: people">
            <li class="person" >
                 
                <form>
                    <label for="fn">First: </label>
                    <input id="fn" type="text" data-bind="value: FirstName" placeholder="first"/>
                    <label for="ln">Last: </label>
                    <input id="ln" type="text" data-bind="value: LastName" placeholder="last"/>
              
                    <br/>
                    <span data-bind="click: $parent.loadDevices" >
                        <label>Devices: </label>
                        <img src="/Images/device.png" title="load devices" alt="load devices" /> 
                    </span>
                    <ul class="device" data-bind="foreach: Devices">
                        <li>
                            <input type="text" data-bind="value: DeviceName" placeholder="device"/>
                        </li>
                    </ul>         
                </form>

            </li>
        </ul>
           
        <div class="controlLinks">
            <a href="#" data-bind="click: reset">Reset database</a>
        </div>
             
    </section>

    <footer>
        <div id="logmessages"></div>
    </footer>
    
    <!--3rd party library scripts -->
    <script src="/Scripts/jquery-1.8.2.min.js"></script>
    <script src="/Scripts/knockout-2.1.0.js"></script>
    <script src="/Scripts/q.js"></script>
    <script src="/Scripts/breeze.debug.js"></script>

    <!-- Application scripts -->
    <script src="/Scripts/app/logger.js"></script>
    <script src="/Scripts/app/dataservice.js"></script>
    <script src="/Scripts/app/peopleViewModel.js"></script>
    <script src="/Scripts/app/main.js"></script>
</body>
</html>