.ng-cloak {
  display: none;
}

/* put some horizontal space around the top nav and footer */
.navbar .navbar-inner {
    padding-left:20px;
    padding-right:20px;
}

/* Narrow the spacing for the controls.  Bootstrap has margin-bottom: 20px */
.form-horizontal .control-group {
    margin-bottom: 10px;
}

/* Narrow the spacing between radio controls when they are in a table */
td .radio {
    min-height: 16px;
    max-height: 16px;
}