body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.ng-cloak {
    display: none
}

/* Application styles */

input.todolist-title {
    font-size:x-large; 
    width: 60%
}

input.todoitem-description {
    font-size:large; 
    width: 60%
}

.app-command-bar {
    padding: 0.5em 0;
}

.app-todo-text {
   padding: 0.25em 0; 
}

/* Bootstrap overrides */
.alert {
    padding: 0.5em;
}
.glyphicon-remove {
    color:crimson;
}

.panel-heading .glyphicon-remove {
    color:#ff9c00;
    font-size: 70%;
}

/* Animations */

.animate-if.ng-enter, .animate-if.ng-leave {
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
}
 
.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}
 
.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}