<div class="form">
    <div class="field textbox">
        <span class="label">Street</span>
        <input type="text" data-bind="value: job().Location().Street1, valueUpdate: 'afterkeyup'" />
    </div>
    
    <div class="field textbox">
        <span class="label">City</span>
        <input type="text" data-bind="value: job().Location().City"/>
    </div>
    
    <div class="field dropdown">
        <span class="label">State</span>
        <select data-bind="options: states, optionsText: 'abbreviation', value: job().Location().State" />
    </div>
    
    <div class="field textbox">
        <span class="label">Zip</span>
        <input type="text"  data-bind="value: job().Location().Zip"/>
    </div>
    
    <div>
        <button class="add" data-bind="click: addInspection">
            <img src="/Images/Plus.png"/>
            <span>Add Inspection</span>
        </button>
    </div>
    <div>
        <ul data-bind="foreach: job().Inspections">
            <li>
                <span class="small-icon" data-bind="css:{ inProgress:Status() == 'In Progress', canceled:Status() == 'Canceled', done:Status() == 'Done' }"></span>
                <span data-bind="text: Form().Type"></span>
            </li>
        </ul>
    </div>
</div>