<div class="form">
    <div class="field textbox">
        <span class="label">Street</span>
        <input type="text" />
    </div>
    
    <div class="field textbox">
        <span class="label">City</span>
        <input type="text" />
    </div>
    
    <div class="field dropdown">
        <span class="label">State</span>
        <select />
    </div>
    
    <div class="field textbox">
        <span class="label">Zip</span>
        <input type="text" />
    </div>
    
    <div>
        <button data-bind="click: addInspection">Add Inspection</button>
    </div>
</div>