<form data-bind="submit: login" class="login">
    <div>
        <div class="label">Username</div>
        <input type="text" data-bind="value: username, valueUpdate: 'afterkeydown'"/>
    </div>
    <div>
        <div class="label">Password</div>
        <input type="password" data-bind="value: password, valueUpdate: 'afterkeydown'"/>
    </div>
    <div>
        <div class="message" data-bind="text: message"></div>
    </div>
    <div>
        <button data-bind="click: login, enable: canLogin">Login</button>
    </div>
</form>