@using System.Web
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>Hot Towelette SPA</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @Styles.Render("~/Content/css")
    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
</head>
<body>
    <div id="applicationHost">
        @RenderPage("_splash.cshtml")
    </div>

    @Scripts.Render("~/scripts/vendor")
        @if(HttpContext.Current.IsDebuggingEnabled) {
            <script type="text/javascript" src="App/durandal/amd/require.js" data-main="/App/main"></script>
        } else {
			<!-- Remember to run the Durandal optimizer.exe to create the main-built.js  -->
            <script type="text/javascript" src="App/main-built.js"></script>
        }
</body>
</html>