breeze.debug.js
breeze.intellisense.js
breeze.js
MvcSpaTemplate201212-2
MvcSpaTemplate201212-2.zip
aspnet-BreezeMvcSpaTemplate-20130123165841-copy.mdf
aspnet-BreezeMvcSpaTemplate-20130123165841_log-copy.ldf