body {
    background: rgb(232, 232, 232);
    font-family: "Segoe UI",Arial,Helvetica,sans-serif;
}

#applicationHost {
    position: absolute;
    left: 50%;
    width: 700px;
    margin-top: 20px;
    margin-left: -350px;
    background: white;
    
    -o-box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 30px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 30px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 30px;
    
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

header {
    text-align: center;
}

header h1 {
    font-size: 3em;
    text-shadow:rgba(0, 0, 0, .5) 2.5px 2.5px 2px;
    margin-bottom: .5em;
}

.view {
  display: none;   
}

section {
    position: relative;
    left: 50%;
    margin-left: -275px;
    margin-bottom: 1em;
    font-size: 1.5em;
    width: 550px;
}

section li.person {
    padding: 16px 0 16px 0;
    border-bottom: 1px solid rgb(191, 191, 191);
}

section li.person:last-child  {
    border-bottom: 0;
}

section ul.device {
    margin-top: 4px;
    margin-left: 2.5em;
}

section li a {
    float: right;
    display: none;
    text-decoration: none;
}

section li:hover a{
    display: block;
}

section li input[type="text"] {
    font-size: 1em;
    width: 8em;
    margin-bottom: 4px;
}

section ul.device li input[type="text"] {
    width: 19em;
}

section div.editing {
    background-color: lightgray;
    padding: 8px 4px;
}
.controlLinks {
    position: relative;
    top: 4px;
    font-size: .5em;
}

footer {
    position: relative;
    left: 50%;
    margin-left: -275px;
    font-size: .75em;
    width: 550px;
}
footer div {
    margin-bottom: .5em;
}

.log-error { color: red; font-weight: bold; }
.log-validation-error { color: rgb(243, 162, 13); font-weight: bold;}
.log-info { color: blue; }
.log-success { color: green; }
.log-warning { color: orchid; }


@media screen and (max-width: 700px) {
    #applicationHost {
        width: 100%;
        height: 100%;
        margin: 0;
        left: 0;
        top: 4px;
        position: fixed;
    }
    
    header h1 {
        font-size: 2.5em;
        margin-bottom: .2em;
    }
    
    section {
        margin-left: -140px;
        font-size: 1.2em;
        width: 280px;
    }
    section ul.device li input[type="text"] {
        width: 10em;
    }
    footer {
        margin-left: -140px;
        font-size: .7em;
        width: 280px;
    }
    footer div {
        margin-bottom: .15em;
    }
}