@*Header at the top of the BOWA page*@

<header>
    <div style="float:left; margin-right: 10px">
        <img src="~/app/images/logo.png" alt="Breeze + Web API OData" />
    </div>
    <h1 style="padding-top:16px">
        BOWA
        <span style="font-size: 60%; margin-left: .4em; ">
            Breeze + OData + WebApi + Angular<br />
        </span>
        <span style="font-size: small">
            Learn how this sample works
            <a href="http://www.breezejs.com/samples/breeze-webapi-odata-sample"
                target="_blank" title="Breeze BOWA sample documentation">on the Breeze website</a>.
        </span>         
    </h1>
</header>