<div>
    Orders
    <table>
        <tr ng-repeat="o in orders">
            <td>{{o.OrderId}}</td>
            <td>{{o.CustomerID}}</td>
            <td>{{o.EmployeeID}}</td>
            <td>{{o.Freight}}</td>
            <td>{{o.OrderDate}}</td>
            <td>{{o.RequiredDate}}</td>
            <td>{{o.ShippedDate}}</td>
            <td>{{o.ShipName}}</td>
            <td>{{o.ShipAddress}}</td>
            <td>{{o.ShipCity}}</td>
            <td>{{o.ShipRegion}}</td>
            <td>{{o.ShipPostalCode}}</td>
            <td>{{o.ShipCountry}}</td>
            <td>{{o.RowVersion}}</td>
        </tr>
    </table>
</div>
