<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.1" targetFramework="portable-net45+wp80+win" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="portable-net45+wp80+win" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="portable-net45+wp80+win" />
  <package id="Microsoft.Data.Edm" version="5.6.1" targetFramework="portable-net45+wp80+win" />
  <package id="Microsoft.Data.OData" version="5.6.1" targetFramework="portable-net45+wp80+win" />
  <package id="Microsoft.Data.Services.Client" version="5.6.1" targetFramework="portable-net45+wp80+win" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="portable-net45+wp80+win" requireReinstallation="True" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="portable-net45+wp80+win" />
  <package id="System.Spatial" version="5.6.1" targetFramework="portable-net45+wp80+win" />
</packages>