ZzaNodeMongoDb

metadata.js
metadata.breeze.js
mongo.metadata.js

Zza.Interfaces/Breeze.WebApi.dll

#not ready to check in the node_modules

#Zza mongoDb data shouldn't be under VCS unless added explicitly to VCS
Zza.ExpressServer/data