
body {
    margin: 0;
	background-image:url("http://www.breezejs.com/sites/all/themes/breeze/images/bodybackground.png");
	background-repeat:repeat-x;
	
}

p, h3, ol, ul {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#444444;
	font-size:95%;
}

code {
    font-family: Consolas, Monaco, Andale, Courier New, Courier, Monospace;
}

.row, .col {
     position: absolute;
	 overflow: hidden;
	 background:transparent;
}

.row {
     left: 0; 
     right: 0;
     background:transparent;
}

.col {
     top: 0; 
     bottom: 0;
     background:transparent;
}

.scroll {
    top: 0;
    height: 100%;
    overflow: auto;
}

.scroll-x { 
	overflow-x: auto; 
}

.scroll-y { 
	overflow-y: auto; 
}

.left.col {
	width: 50%;
	background:transparent;
}
	
.right.col {
	right: 0;
	width: 50%;
	background:transparent;
}

.top.row {
	height: 50%;
	background:transparent;
	
	
}

.bottom.row {
	bottom: 0;
	height: 50%;
	background:transparent;
}

/*    end of std */


#vSplitter {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#vSplitter div {
    /* uncommenting this screws everything up */
	/* overflow: hidden */
}

#hSplitterLeft {
  position: relative;
 
}

#hSplitterLeft div {

}

#hSplitterRight {
  position: relative;
 
}

#hSplitterRight div {

}

.vsplitbar {
	width: 5px;
	background: #aaa;
}

.hsplitbar {
    height: 5px;
    background: #aaa;
    
}

.dialog {
    display: none;
}

.header.row {
    top: 0;
    height: 75px; 
}

.body.row {
    top: 75px;
    bottom: 0px;
}


.page-links {
    float: right;
    line-height: 75px;
    font-size: 125%;
    padding-right: 1em;
}

.page-links a {
    
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:16px;
    margin:0px 10px;
    color: #2e2e2e;
	text-decoration: none; 
	font-weight:bold;
}

.page-links a:hover {
	text-decoration:underline;
	color:#2e2e2e;
}


a {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:100%;
    margin-left: 1em;
    color: #379ad3;
	text-decoration: none; 

} 

a:hover {
	text-decoration:underline;
	color:#379ad3;
}

.header-container {
    position: absolute;
    left: 0;
    right: 0;
    background:#fff;
}

.page-title {
    position: relative;
    float: left;
    line-height: 75px;
    padding-left: 1em;
    font-size: 160%;
    font-weight: bold;
    color: #444444;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:bold;
}

.header-button {
    position: relative;
    float: left;
    margin-left: 2em;
    height: 2em;
    margin-top: 1.2em;
    line-height: 2em;
    font-weight: normal;
    font-size: 100%;
    color: white;
    padding: 0 1em 0 1em;
    font-weight: bold;
    cursor: pointer;
}

.panel {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0;
	right: 0;

	margin: 4px;
    border: 1px solid gray;

}

.panel-header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 34px;
    overflow: hidden;
    line-height: 34px;
    background-color: #444444;
    color: #fff;
    font-size: .9em;
    font-weight: bold;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align:center;

}

.panel-content  {
    position: absolute;
    top: 34px;
    bottom: 0px; 
    left: 0;
    right: 0;
    overflow: hidden;
    margin-left: 10px;
    background:transparent;
    
    
}

.panel-content2  {
    position: absolute;
    top: 34px;
    bottom: 0px;
    left: 0;
    right: 0;
    overflow: auto;
    margin-left: 10px;
    
}


.button {
    background: #444444;
    background-repeat: repeat-x;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, .65);
    -moz-border-radius: .4em;
    border-radius: .4em;
    /*
    -webkit-box-shadow: 0 2px 6px rgba(40, 20, 0, .6);
    -moz-box-shadow: 0 2px 6px rgba(40,20,0,.6);
    box-shadow: 0 2px 6px rgba(40, 20, 0, .6);
    */
    white-space: nowrap;
    color: #fff;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.button:hover {
    background-color: #46ade8;
    color: #fff;
    background-image: none;
    cursor: pointer;
    /*
    box-shadow: 0 2px 4px rgba(40, 20, 0, .7)!important;
    */
}

.arrow-down {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background: url("/Images/arrowdown.png") no-repeat right top; 
   
}



.tutorial-title {
    font-weight: bold;
}

.tutorial-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 16em;
    overflow: auto;
}

.tutorial-item {
    border: 1px solid #D0D0D0;
    border-bottom-width: 0;
    padding: .6em .8em;
    background-color: white;
    color: #444;
}

.tutorial-item.selected {
    background-color: #444444;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#56a3dc),color-stop(.2,#0072c6),color-stop(1,#56a3dc));
    background-image: -moz-linear-gradient(center bottom,#EFEFBD0%,#F4F4CC20%,#FFFFD7100%);
    color: #fff;
}

.tutorial-item:hover {
    background-color: #46ade8;
    color: white;
    cursor: pointer;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#1B2F53),color-stop(.2,#2F4367),color-stop(1,#43577B));
    background-image: -moz-linear-gradient(center bottom,#1B2F530%,#2F436720%,#43577B100%);
}

.step-navigation {
    line-height: 34px;
    margin: 0px 5px;
}

.step-next {
    cursor: pointer;
    height: 26px;
    padding: 0;
    line-height: 26px;
    border: 2px solid transparent;
    background-color: white;
    margin-top: 4px;
    border-radius: .5em;
    -moz-border-radius: .5em;
    float: right;    
}

.step-previous {
    cursor: pointer;
    height: 26px;
    padding: 0;
    line-height: 26px;
    border: 2px solid transparent;
    background-color: white;
    margin-top: 4px;
    border-radius: .5em;
    -moz-border-radius: .5em;
    float: left;    
}

.step-previous:hover, .step-next:hover {
    border-color: #CBA;
    background-color: #FCEDE5;
}

.arrow-left, .arrow-right {
    background-image: url("/Images/arrows.png");
    width: 16px;
    height: 16px;
    background-position: 16px 0;
}

.arrow-left {
    background-position: 0 0;
}

.step-status {
    text-align: center;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

.run {
    float: right;
    margin-right: 5px;
    position: relative;
    top: -31px;
    line-height: 20px;
    font-weight: bold;
}

/*jQuery overrides*/
.ui-widget { 
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:95%;
	color:#444444;
}