
body {
    margin: 0;
}


.row, .col {
     overflow: hidden; 
     position: absolute;
}

.row {
     left: 0; 
     right: 0;
}

.col {
     top: 0; 
     bottom: 0;
}

.scroll {
    top: 0;
    height: 100%;
    overflow: auto;
}

.scroll-x {
    overflow-x: auto;
}

.scroll-y {
    overflow-y: auto;
}

.header.row {
    top: 0;
    height: 75px; 

}

.left.col {
    left: 0;
    width: 50%;
}

.right.col {
    left: 50%; 
    right: 0;
}

.body.row {
    top: 75px;
    bottom: 0px;
}

.row.top {
    height: 50%;
}

.row.bottom {
    top: 50%;
    height: 50%;
}

.page-links {
    float: right;
    line-height: 75px;
    font-size: 125%;
    padding-right: 1em;
}

.page-title {
    float: left;
    line-height: 75px;
    padding-left: 1em;
    font-size: 160%;
    font-weight: bold;
    color: #400;
    text-shadow: rgba(230, 230, 230, .6) 0 1px 0;
}

.container-center {
    float: left;
    position: absolute;
    left: 50%;
}

.panel-container {
    padding: 4px;
    height: 100%;
    /* box-sizing: border-box; */

    border: 2px solid gray; 
    background-color: white;
    overflow: hidden;
    /*-webkit-box-shadow: 0 0 0px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0 0 0px rgba(0,0,0,.6);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .6);*/
}

.panel-header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 33px;
    overflow: hidden;
    line-height: 34px;
    background-color: #E5CDC1;
    color: #A71500;
    font-size: .9em;
    font-weight: bold;
}

.panel-content  {
    position: absolute;
    top: 34px;
    bottom: 10px; 
    left: 0;
    right: 0;
    overflow: hidden;
    margin-left: 5px;
    margin-bottom: 5px;
}

.panel-content2  {
    position: absolute;
    top: 34px;
    bottom: -20px; 
    left: 0;
    right: 0;
}

.help-select {
    float: left;
    position: relative;
    left: -70%;
    
    height: 2em;
    margin-top: 1.2em;
    line-height: 2em;
    font-weight: normal;
    font-size: 100%;
    color: black;
    padding: 0 3em 0 1em;
    font-weight: normal;
    cursor: pointer;
}


.tutorial-select {
    float: left;
    position: relative;
    left: -30%;
    
    height: 2em;
    margin-top: 1.2em;
    line-height: 2em;
    font-weight: normal;
    font-size: 100%;
    color: black;
    padding: 0 3em 0 1em;
    font-weight: normal;
    cursor: pointer;
}

.button {
    background: #E3D5C3;
    background-repeat: repeat-x;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, .65);
    -moz-border-radius: .4em;
    border-radius: .4em;
    -webkit-box-shadow: 0 2px 6px rgba(40, 20, 0, .6);
    -moz-box-shadow: 0 2px 6px rgba(40,20,0,.6);
    box-shadow: 0 2px 6px rgba(40, 20, 0, .6);
    white-space: nowrap;
    color: #333;
}

.button:hover {
    background-color: white;
    color: black;
    background-image: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(40, 20, 0, .7)!important;
}

.arrow-down {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background: url("/Images/arrowdown.png") no-repeat right top;
}

.tutorial-title {
    font-weight: bold;
}

#ask-help, #select-tutorial {
    display: none;
}

/* Overlay */
#simplemodal-overlay {
    background-color:#000; 
    cursor:wait;
}

/* Container */
#simplemodal-container {
    width:400px; 
    color:#bbb; 
    background-color:#333; 
    border:4px solid #444; 
}

#simplemodal-container a.modalCloseImg {
    background:url("/Images/x.png") no-repeat; 
    width:25px; 
    height:29px; 
    display:inline; 
    z-index:3200; 
    position:absolute; 
    top:-15px; 
    right:-16px; 
    cursor:pointer;
    color:#ddd;
}

.tutorial-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 15em;
    overflow: auto;
}

.tutorial-item {
    border: 1px solid #D0D0D0;
    border-bottom-width: 0;
    padding: .6em .8em;
    background-color: white;
    color: #444;
}

.tutorial-item.selected {
    background-color: #FFFFD7;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#EFEFBD),color-stop(.2,#F4F4CC),color-stop(1,#FFFFD7));
    background-image: -moz-linear-gradient(center bottom,#EFEFBD0%,#F4F4CC20%,#FFFFD7100%);
}

.tutorial-item:hover {
    background-color: #43577B;
    color: white;
    cursor: pointer;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#1B2F53),color-stop(.2,#2F4367),color-stop(1,#43577B));
    background-image: -moz-linear-gradient(center bottom,#1B2F530%,#2F436720%,#43577B100%);
}

.step-navigation {
    line-height: 34px;
    margin: 0px 5px;
}

.step-next {
    cursor: pointer;
    height: 26px;
    padding: 0;
    line-height: 26px;
    border: 2px solid transparent;
    background-color: transparent;
    margin-top: 4px;
    border-radius: .5em;
    -moz-border-radius: .5em;
    float: right;    
}

.step-previous {
    cursor: pointer;
    height: 26px;
    padding: 0;
    line-height: 26px;
    border: 2px solid transparent;
    background-color: transparent;
    margin-top: 4px;
    border-radius: .5em;
    -moz-border-radius: .5em;
    float: left;    
}

.step-previous:hover, .step-next:hover {
    border-color: #CBA;
    background-color: #FCEDE5;
}

.arrow-left, .arrow-right {
    background-image: url("/Images/arrows.png");
    width: 16px;
    height: 16px;
    background-position: 16px 0;
}

.arrow-left {
    background-position: 0 0;
}

.step-status {
    text-align: center;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

.run {
    float: right;
    margin-right: 5px;
    position: relative;
    top: -32px;
    line-height: 20px;
}