<div class="container">
    <h1>Your Order</h1>
    <div>
        <table class="table" >
            <tr><th></th><th>Item</th><th>Size</th><th>Qty</th><th>Price</th></tr>
            <tr data-ng-repeat="item in cartOrder.orderItems">
                <td><button class="btn" data-ng-click="removeItem(item)">Remove</button></td>
                <td><strong>{{item.product.name}}</strong></td>
                <td>{{item.productSize.name}}</td>
                <td><input type="text" name="qty{{item.id}}" data-ng-model="item.quantity" class="input-mini" /></td>
                <td>{{item.unitPrice * item.quantity | currency}}</td>
            </tr>
        </table>
    </div>
</div>