<div data-ng-controller="dashboardController">
    <div class="well sidebar-nav">
        Menu
        <ul class="nav nav-list">
            <li data-ng-repeat="link in productLinks" data-ng-class="{active: activeProduct == link.tag}">
                <a data-ng-href="#{{link.path}}">{{link.name}}</a>
            </li>
        </ul>
    </div>

    <div class="well">
        Order Summary
        <table class="table-condensed" style="font-size:small">
            <tr><th>Item</th><th>Size</th><th>Qty</th></tr>
            <tr data-ng-repeat="item in cartOrder.orderItems">
                <td><a href="#/order/cart/item/{{item.id}}">{{item.product.name}}</a></td>
                <td>{{item.productSize.name}}</td>
                <td>{{item.quantity}}</td>
            </tr>
        </table>
        <p></p>
        <a href="#/cart">View Cart</a>
    </div>

    <div class="well">
        Recently Viewed
        <table class="table-condensed" style="font-size:small">
            <tr><th>Item</th><th>Size</th><th>Qty</th></tr>
            <tr data-ng-repeat="item in draftOrder.orderItems">
                <td><a href="#/order/draft/item/{{item.id}}">{{item.product.name}}</a></td>
                <td>{{item.productSize.name}}</td>
                <td>{{item.quantity}}</td>
            </tr>
        </table>
    </div>
</div>