<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">

            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li ng-repeat="link in links" ng-class="{active: activeTag == link.tag}">
                        <a ng-href="#{{link.path}}">{{link.name}}</a>
                    </li>

                </ul>
            </div>
            <!--/.well -->
            <div class="well">
                Order Summary
            </div>
        </div>
        <!--/span-->
        <div class="span9">
            <div>
                <div ng-include="view"></div>
            </div>
        </div>
    </div>

</div>
