<div>
    <h2>Order Pizza</h2>
    <p>Handcrafted in the Italian style, our pizzas are so good, you'll say "Mamma Mia!"</p>
    <div>
        <div class="row-fluid" data-ng-repeat="product in products" >
            <div class="span3">
                <a href="#/order/pizza/{{product.id}}">
                    <img class="img-polaroid" data-ng-src="{{product.img}}" title="{{product.name}}"/>
                </a>
            </div>
            <div class="span9">
                <h3><a href="#/order/pizza/{{product.id}}">{{product.name}}</a> &nbsp;
                <img src="app/images/icon_vegetarian.png" data-ng-class="{hide: !product.isVegetarian}" alt="Vegetarian" title="Vegetarian"/>
                <img src="app/images/icon_tomato.png" data-ng-class="{hide: !product.withTomatoSauce}" alt="Has Tomato Sauce" title="Has Tomato Sauce"/>
                </h3>
                <p>{{product.description}}</p>
            </div>
            <hr />
        </div>
    </div>
</div>