<div >
    <h2>Customers</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="gridStyle" style="width: 500px; height: 378px;" ng-grid="customerGrid"></div>
        </div>
        <div class="col-md-6">
        	<form class="form-horizontal">
                <!-- We do field-level validation based on the validation rules in the metadata,
                    and twitter bootstrap styles to show invalid fields.  See the breezeinput directive in directives.js -->
                <breezeinput label="Company Name" ng-model="customer.companyName"></breezeinput>
                <breezeinput label="Contact Name" ng-model="customer.contactName"></breezeinput>
                <breezeinput label="Contact Title" ng-model="customer.contactTitle"></breezeinput>
                <breezeinput label="Address" ng-model="customer.address"></breezeinput>
                <breezeinput label="City" ng-model="customer.city"></breezeinput>
                <breezeinput label="Region" ng-model="customer.region"></breezeinput>
                <breezeinput label="Postal Code" ng-model="customer.postalCode"></breezeinput>
                <breezeinput label="Country" ng-model="customer.country"></breezeinput>
                <breezeinput label="Phone" ng-model="customer.phone"></breezeinput>
                <breezeinput label="Fax" ng-model="customer.fax"></breezeinput>
                <div style="text-align: center">
                    <button class="btn btn-default" ng-click="reset(customer)">Reset Customer</button>
                    <button class="btn btn-default" ng-click="update(customer)">Save Customer</button>
                </div>
        	</form>
        </div>
    </div>
</div>

