<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="NorthwindIBContext_EDMX_2012" connectionString="metadata=res://*/NorthwindIB_2012.csdl|res://*/NorthwindIB_2012.ssdl|res://*/NorthwindIB_2012.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NorthwindIB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NorthwindIB" connectionString="data source=.;initial catalog=NorthwindIB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>

