<!DOCTYPE html>
<html data-ng-app="EdmundsMain">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>

    <title>Breeze Edmunds Vehicle API with AngularJs</title>
    <link rel="stylesheet" href="Content/reset.css" />
    <link rel="stylesheet" href="Content/toastr.css" />
    <link rel="stylesheet" href="Content/app.css" />
</head>
<body>

    <div id="applicationHost" data-ng-controller="EdmundsCtrl" class="ng-cloak">
        <header>
            <h2>Edmunds Vehicle API</h2>
            <h2>with AngularJs</h2>
        </header>
        
            <div>
              <!--[if lte IE 9]><span style='font-size:.5em;'>Filter </span><![endif]-->
              <input class="filter" data-ng-model="searchText" type="search" placeholder="Filter by make ..." />
            </div>
            
            <div  data-ng-repeat="make in makes| filter:makeFilter">
                <input id="shouldShowModels" type="checkbox" data-ng-model="make.shouldShowModels" data-ng-click="showModels(make)" />
                <span class="make">{{make.name}}</span> 
                <div data-ng-show="make.shouldShowModels">
                    <div  data-ng-repeat="model in make.models">
                        <span class="model">{{model.name}}</span> 
                    </div>
                </div>

            </div>

            <div class="controlLinks">
                <a href="#" data-ng-click="purge()">Purge</a>&nbsp;&nbsp;
                <a href="#" data-ng-click="reset()">Reset</a>
            </div>
        

        <footer>
            <div data-ng-show="itemsLeftMessage()">{{itemsLeftMessage()}}</div>
            <a href="#" data-ng-show="archiveCompletedMessage()" data-ng-click="archiveCompletedItems()">{{archiveCompletedMessage()}}</a>
        </footer>

    </div>

    <!-- 3rd party libraries -->
    <script src="Scripts/jquery-1.8.3.min.js"></script>
    <script src="Scripts/q.js"></script>
    <script src="Scripts/breeze.debug.js"></script>
    <script src="Scripts/toastr.js"></script>
    <script src="Scripts/angular.js"></script>

    <!-- App libraries -->
    <script src="Scripts/app/main.js"></script>
    <script src="Scripts/app/logger.js"></script>
    <script src="Scripts/app/dataservice.js"></script>
    <script src="Scripts/app/controller.js"></script>

</body>
</html>
