<div class="page-splash"></div>
<div class="page-splash-message">
    Hot Towelette
</div>
<div class="progress progress-striped active page-progress-bar">
    <div class="bar" style="width: 100%;"></div>
</div>
