<section>
    <h3>Enter your login credentials:</h3>
    <div style="float: left; clear: both; display: inline-block">
        <label for="username">Username: </label>
        <input id="username" type="text" data-bind="value: username" />
        <label for="password">Password: </label>
        <input id="password" type="password" data-bind="value: password" />
    </div>
    <div style="float: left; clear: both">
        <button class="btn" data-bind="click: loginUser">Login</button>
    </div>
</section>
