    <div class="index-head">
        
		<h1>
		Breeze API
		</h1>
	</div>	
		
	<div class="index-body">	
            <p>
			Welcome to the Breeze API documentation. If this is your first time browsing the API, you might want to start with the <a href="http://www.breezejs.com/sites/all/apidocs/classes/EntityManager.html">EntityManager</a> as this is the core class in Breeze.
			</p>
			<p>
			<a href="http://www.breezejs.com/samples">Sample applications</a>, <a href="http://www.youtube.com/playlist?list=PL88C2B43249433416&feature=plcp"videos target="_blank">videos</a>, and <a href="http://www.breezejs.com/documentation/introduction">additional documentation</a> 
			are also available.
			</p>
			
		<h2>
		Current version
		</h2>
		<p>
		You're viewing version <strong> {{projectVersion}} </strong>of the Breeze API.  
		</p>
		<h2>
		Support
		</h2>
        <p>
		Ask questions in our <a href="http://www.ideablade.com/forum/" target="_blank">community forum</a> and get answers from support engineers, MVPs, and 
		developers just like you. If you prefer to use email, please contact us at <a href="mailto:breeze@ideablade.com">breeze@ideablade.com</a>.
		</p>
    </div>


